@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 15px 15px, 15px 15px, 15px 7.5px; /* Slightly smaller size */
  background-position: 0px 0px, 7.5px 7.5px, 0px 0px; /* Adjusted position */

  margin: 0px;
}
/*------------- SMALL TINGS---------------- */
a {
  cursor: pointer;
}
h3 {
  font-weight: 700;
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: clamp(1.3rem, 2.3vw, 2.3rem);
  text-align: center;
}
.someem {
  color: rgba(255, 222, 202, 0.75);
}

h4 {
  margin: 0px;
}
h1,
h3,
p,
label {
  color: rgb(255, 222, 202);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wrapper {
  display: grid;
  row-gap: 100px;
}

/*------------- SMALL TINGS END ---------------- */

/*  -------------------- NAVBAR ----------------------- */

.navdiv {
  width: 100%;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px;
  background-color: rgb(101, 0, 0);
}
.uldiv {
  min-width: fit-content;
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: space-around;
}

.navdiv ul li {
  width: fit-content;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 8px;
  border: 1px solid rgb(101, 0, 0);
  border-radius: 50px;
}

li {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.navdiv ul li:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(198, 198, 198);
  border: 1px solid black;
}

.navdiv ul li:active {
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
}

.logo {
  margin-right: 10px;
  float: right;
  max-width: 150px;
}

/* ----------------------- NAVBAR END-----------------------  */

/* DROPDOWN */

.dropdowndiv {
  display: none;
}
.dropdown {
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  background-color: rgb(20, 20, 20);
  border-radius: 2px;
  border: 1px solid black;
  position: absolute;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropbtn a {
  text-align: start;
  font-size: 15px;
  line-height: 35px;
  color: white;
  display: block;
  padding: 0px 20px;

  color: rgb(255, 222, 202);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dropbtn a:hover {
  cursor: pointer;
  background-color: rgb(101, 0, 0);
  transition: 0.2s;
}

.dropdowndiv:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropbtn {
  color: rgb(209, 209, 209);

  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/*------------- DROPDOWN END---------------- */

/*------------- MEDIA QUERIES---------------- */

@media screen and (max-width: 700px) {
  .dropdowndiv {
    display: flex;
    align-items: center;
  }

  .navdiv ul li {
    display: none;
  }
  .kallor {
    text-align: start;
  }
  .navdiv {
    padding: 9px;
  }
  .secondbloggdiv {
    max-width: 80%;
    flex-direction: column;
  }
  .iframediv {
    flex-direction: column;
    row-gap: 30px;
    max-width: 80%;
  }

  .sidbar {
    display: none;
  }

  .contentdiv {
    max-width: 80%;
  }
}
/*------------- MEDIA QUERIES END ---------------- */

/*-----------------------  BLOGG ----------------------- */

.mainbloggdiv {
  align-items: center;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  row-gap: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 300px;
}
.secondbloggdiv {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 30px;
  width: 95%;
}
.bloggdiv {
  text-align: center;
  box-shadow: 0px 0px 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(101, 0, 0);
  flex: 3;
}
.bloggdiv2 {
  flex: 1;
  box-shadow: 0px 0px 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(101, 0, 0);

  transition: position 0.3s;
}

.infotext {
  margin: 20px;
  text-align: start;
}
.bloggtext {
  padding-top: 20px;
  margin: 30px;
  font-size: clamp(1rem, 1.4vw, 1.1rem);
  text-align: left;
}

.kallor {
  line-height: 25px;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
a {
  text-align: center;
  text-decoration: none;
}

.undertext {
  text-align: center;
  font-size: 14px;
}

.link {
  color: rgb(0, 225, 255);
}

.link2 {
  color: rgba(254, 255, 255, 0.678);
}

.link2:hover {
  color: rgb(158, 158, 158);
  transition: 0.2s;
  text-decoration: underline;
}
.link2:active {
  color: rgb(117, 117, 117);
}

.link:hover {
  text-decoration: underline;
}

.typer {
  max-width: 80%;
  width: calc(50% - 10px);
}

h3 {
  font-size: clamp(1.1rem, 1.6vw, 1.9rem);

  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 222, 202);
}

.contentdiv {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(101, 0, 0);
}
.iframediv {
  padding-bottom: 25px;
  width: 95%;
  display: flex;
  column-gap: 23px;
}

.iframediv p {
  white-space: nowrap;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: clamp(19px, 1.5vw, 24px);
}
.videobox {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.videobox p {
  font-size: clamp(1rem, 1.4vw, 1.1rem);
  font-weight: 300;
}

.iframe {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 0px 0px 5px;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

.videobox p {
  text-align: center;
}

/* ----------------------- BLOGG END-----------------------  */

/* ----------------------- KONTAKT-----------------------  */

form {
  margin: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.fdiv {
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.emaildiv {
  text-align: start;
}
.fnamn {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.meddiv {
  text-align: start;
}

.textmed {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 170px;
}
.emaildiv input {
  width: 100%;
}

.fnamn input {
  width: 100%;
}

input {
  height: 45px;
  border: 1px solid;
  border-radius: 12px;
  padding: 13px;
  box-sizing: border-box;
  background-color: rgb(219, 219, 219);
  box-shadow: 0px 0px 1px;
}

input:hover {
  background-color: rgb(209, 195, 169);
  transition: 0.1s;
}

input:active {
  background-color: beige;
}

label {
  text-align: start;
  margin: 3px;
}
.kontaktH {
  font-size: clamp(1.3rem, 2.3vw, 2.3rem);
}

.kontaktP p {
  margin: 7px 30px 0px 30px;

  text-align: start;
}
/* ----------------------- KONTAKT END -----------------------  */

/* ----------------------- FOOTER -----------------------  */
.kontaktdiv {
  margin-top: 100px;
  text-align: center;
  box-shadow: 0px 0px 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(101, 0, 0);
  flex: 3;
}

.footerdiv {
  box-shadow: 0px 0px 5px;
  align-items: start;
  display: flex;
  justify-content: space-between;
  background-color: rgb(101, 0, 0);
}

.footerdivinfo {
  margin: 0px 40px;
}

.footerdivinfo h3 {
  margin: 14px;
}
.snabblink h3 {
  font-size: 20px;
}
.footerdiv ul li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 8px;
  border: 1px solid rgb(101, 0, 0);
  border-radius: 50px;
}
.snabblink {
  display: flex;
  flex-direction: c;
}

.youtube {
  width: clamp(57px, 1.5vw, 24px);
}
.twitter {
  padding-left: 10px;
  width: clamp(48px, 1.5vw, 24px);
}

.instagram {
  width: clamp(75px, 1.5vw, 24px);
}

.icondiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
